:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --purple: hsl(281, 83%, 54%);
  --dark-purple: hsl(292, 42%, 14%);

  /* Colors values */
  --dark-purple-value: 292, 42%, 14%;

  /* Font families */
  --ff-primary: "Work Sans", sans-serif;

  /* Font sizes */
  --fs-regular: 1rem;
  --fs-semi-bold: 1.15rem;
  --fs-bold-mobile: 2.4rem;
  --fs-bold-desktop: 3rem;

  /* Font weights */
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/* CSS resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

h1,
h2 {
  line-height: 1.1;
}

/* Main style */
body {
  min-height: 100dvh;
  line-height: 1.6;
  font-family: var(--ff-primary);
  background-color: var(--light-pink);
}

.bg-pic-mobile {
  width: 100%;
}

.container {
  position: relative;
  width: min(45ch, 100% - 4rem);
  padding: 2rem;
  margin-inline: auto;
  border-radius: 0.5rem;
  color: var(--dark-purple);
  background-color: var(--white);
  z-index: 1;
  top: -7rem;
}

.header {
  margin-left: 1.2rem;
  font-size: var(--fs-bold-mobile);
}

.accordion {
  margin-top: 1rem;
}

.accordion-header {
  width: 100%;
  text-align: left;
  font-size: var(--fs-semi-bold);
  padding-block: 1.5rem;
  color: hsl(var(--dark-purple-value), 0.9);
  cursor: pointer;
  border: none;
  background-color: transparent;

  justify-content: space-between;
}

.accordian-item:not(:last-child) {
  border-bottom: 2px solid var(--light-pink);
}

.accordion-header:hover {
  color: var(--purple);
}

.accordion-panel {
  padding-bottom: 1.5rem;
  color: var(--grayish-purple);
}

.attribution {
  text-align: center;
  padding-bottom: 1rem;
}

.attribution a {
  font-weight: var(--fw-bold);
  color: var(--dark-purple);
}

.attribution a:hover {
  color: var(--purple);
}

/* Utilities */
.flex-row {
  display: flex;
  align-items: center;
}

/* Desktop */
@media (min-width: 45em) {
  .header {
    font-size: var(--fs-bold-desktop);
  }

  .star-icon {
    width: 2.1rem;
    height: 2.2rem;
  }
}
